.title{
    padding-top:150px;
}

#names{
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:small;
    margin-top:-10px;
}
.author-name{
    float: left;
    text-align:left;
    width:33.33333%;
    animation: blink-caret .5s step-end 5;
}
.article-name{
    float:left;
    text-align: right;
    width:66.5%;
    animation: blink-caret .5s step-end 5;
}
@keyframes blink-caret {
    from, to { color: transparent }
    50% {color: rgb(0, 0, 0) }
  }
mark{
    border-radius: 20%;
    width: 50%;
    color:black;
}
.not{
    background-color: #ffff00;
    color:black;
    height: 3px;
}
.header{
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 80px;
    white-space: nowrap;
}

a{
    font-family: "adobe-caslon-pro", serif;
    font-weight: 400;
    font-style: italic;
    text-decoration: none;
    display: inline-block;
    color: black;
}
.question{
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500;
    font-style: normal;
    position:relative;
    font-size: 50px;
    text-align: left;
    inline-size: 500px;
    margin-left: 5450px;
    margin-top:-200px;
}
