.title{
    padding-top:150px;
}

#names{
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:small;
    margin-top:-10px;
}
.author-name{
    float: left;
    text-align:left;
    width:33.33333%;
    animation: blink-caret .5s step-end 5;
}
.article-name{
    float:left;
    text-align: right;
    width:66.5%;
    animation: blink-caret .5s step-end 5;
}
@keyframes blink-caret {
    from, to { color: transparent }
    50% {color: rgb(0, 0, 0) }
  }
mark{
    border-radius: 10%;
    width: 50%;
    color:black;
}

.header{
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 80px;
    white-space: nowrap;
}

/* for the glitch in "nopt */
#container::before{ 
    font-family: "adobe-caslon-pro", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 200px;
    color: black;
    position: absolute;
    display: inline-block;
    margin-top: -40px;
    padding-right: 120px;
    padding-left: 20px;
    content: "not"; 
    animation: animate infinite 2s ease-in-out; 
} 

@keyframes animate { 
  
    0% { 
        content: "not"; 
    } 

    25% { 
        content: "???"; 
    } 

    50% { 
        content: "!!!"; 
    } 
    75% { 
        content: ",,,"; 
    } 
    100% { 
        content: "..."; 
    } 
} 


/*to create pop up when span function is clicked */

.question{
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500;
    font-style: normal;
    position:relative;
    font-size: 50px;
    text-align: left;
    inline-size: 500px;
    margin-left: 5450px;
    margin-top:-100px;
    display:none;
}

.highlight{
    font-family: "adobe-caslon-pro", serif;
    font-weight: 400;
    font-style: italic;
    position:relative;
    font-size: 50px;
    text-decoration: none;
}

/*replacing text in span replacement tag */

.replace::before{
    content: "first and the most the completely most uninteresting";
}